<form class="bookmarkAddForm hidden">
  <input class="bookmarkTitle" type="text" value="title">
  <input class="bookmarkUrl" type="text" value="url">
  <input class="cancelEdit" type="reset" value="cancel">
  <input type="submit" value="save">
</form>

<button class="addBookmark">New Bookmark</button>